function Main.main 2
push constant 0
pop local 1
call GameOfLife.new 0
pop local 0
call Graphics.displayLogo 0
pop temp 0
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
push local 1
push constant 1
add
pop local 1
push local 1
push constant 32766
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 1
label IF_FALSE0
call Keyboard.keyPressed 0
push constant 128
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
call Screen.clearScreen 0
pop temp 0
push local 0
push local 1
call GameOfLife.start 2
pop temp 0
label IF_FALSE1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
